1 - Média Notas

In [ ]:
p1 = "Digite a primeira nota: "
p2 = "Digite a segunda nota: "
p3 = "Digite a terceira nota: " 
p4 = "Digite a quarta nota: "

nota1 = float(input(p1))
nota2 = float(input(p2))
nota3 = float(input(p3))
nota4 = float(input(p4))

media = (nota1 + nota2 + nota3 + nota4) / 4

if media >= 6:
    print(f"Parabéns! Sua média foi {media:.1f} e você passou de ano!")
else:
    print(f"Que pena! Sua média foi {media:.1f} e você não passou de ano.")

2 - Leitor de arquivos csv

In [3]:

import pandas as pd

df = pd.read_csv('C:/Users/FAS/GitHub/Cursos/Python/Asimov/SalesAnalysis/dataset_asimov.csv')

print(df.head())

  Status de Pagamento  Dia  Mês Meio de Propaganda    Valor Pago  \
0                Pago    1  Abr          Televisão   R$ 7000000
1                Pago   10  Ago          Televisão  R$ 11000000
2                Pago   20  Set            Website  R$ 12000000
3                Pago   23  Set           Facebook  R$ 15000000
4                Pago   11  Set          Televisão  R$ 25000000

   Chamadas Realizadas Duração da chamada Modelo de Treinamento  \
0                    3              02:00                    GK
1                    1              02:00                    GK
2                    3              02:00                    GK
3                    1              02:00                    GK
4                    2              02:00                    GK

  Nivel de Treinamento Código de Área    Equipe Consultor
0              KJI. L4             A7  Equipe 1    Arthur
1              Pre. L8            B13  Equipe 2    Heitor
2             Fndn. L5             A1  Equipe 2    Helena
3             Fndn. L5             A2  Equipe 3     Alice
4             Fndn. L3            B13  Equipe 4      Theo

## Operações numéricas

In [ ]:
2+2

In [ ]:
2/2

In [ ]:
3**2

In [ ]:
# Raiz quadrada
4 ** (1/2)

In [ ]:
# Comenttário
"""comentario"""

### Exercícios

In [ ]:
x = 5
y = 2
x%y

In [ ]:
x = 5
y = 2
x + 15

In [ ]:
x = 5
y = 2
x**y

In [ ]:
x = 5
y = 2
x + 20 - y

In [ ]:
x = 5
y = 2
x - y

## Strings

In [ ]:
minha_string = "Hello, World!"
len(minha_string)

In [ ]:
minha_string[1:4]

In [ ]:
minha_string[-13]

In [ ]:
minha_string[-1]

In [ ]:
minha_string[::2]

In [ ]:
minha_string[::-1]

## Métodos

In [ ]:
dir("Hello")

In [ ]:
"Hello".upper()

In [ ]:
"Hello".lower()

In [ ]:
"hello".split(" ")

In [ ]:
"Hello Fernando".split(" ")

In [ ]:
"fernandoaguiarsimoes@gmail.com".split("@")

In [ ]:
"Hello".replace("Hello", "Hi")

In [ ]:
idade = 10
f"idade da passoa é:{idade}"

In [ ]:
idade = 35
nome = "Fernando"

f"nome da pessoa é:{nome} e sua idade é:{idade}"

In [ ]:
minha_string_2 = "Eu tenho 20 anos"
minha_string_2.split()

In [ ]:
minha_string = "Olá, meu nome é João."
minha_string [0:3] *15